.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
Scripts
.pytest_cache/
.idea/
docs/_build/
.vscode
Lib
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover